{
  "env": {
    "node": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "prettier"
  ],
  "ignorePatterns": [
    "**/dist/*"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "bracketSpacing": false,
        "printWidth": 80,
        "tabWidth": 2,
        "singleQuote": true,
        "trailingComma": "none",
        "arrowParens": "avoid"
      }
    ]
  }
}
